@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Roboto";
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

main {
  display: flex;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  padding: 16px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

button:hover {
  background-color: #333;
  color: white;
}

#value {
  padding-right: 30px;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
  font-size: 48px;
  color: #333;
}
